* {
    box-sizing: border-box;
}

body {
    background-color: tan;
    font-family: 'Georgia', serif;
    max-width: 800px;
    margin: 0 auto;
}

img {
    height: 310px;
    width: auto;
}

.title,
.recipe-title {
    font-size: 40px;
    text-align: center;
}

.title {
    margin-bottom: 50px;
}

.recipe-list {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.recipe-item {
    background-color: bisque;
    font-size: 32px;
    width: 500px;
    padding: 60px;
    border: 10px double saddlebrown;
    margin: 0 auto 50px;
}

.cook-note {
    background-color: saddlebrown;
    color: white;
    text-align: center;
}